{% if data %}
<div class="row">
    <div class="col-md-6 product_img">
        <img src="{{ data.cover_image.url }}" class="img-responsive">
    </div>
    <div class="col-md-6 product_content">
        <h2 class="text-success">{{ data.name }}</h2>
       
        <hr>
        <p class="text-success">Mô tả:</p>
        <p>{{ data.des }}</p>
        <p class="text-danger">Giá: <b>{{ data.price }}</b> <sup>đ</sup></p>
        
        <div class="space-ten"></div>
        <div class="btn-ground">
            <a class="btn btn-success" href={% url 'create_quote_from_product' unique_product=data.unique_product %}><span class="glyphicon icon-calculator"></span> Tạo báo giá</a>
            <!-- <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-heart"></span> Add To Wishlist</button> -->
        </div>
    </div>

</div>

{% endif %}