{% if data %}
{% for item in data %}
<div class="col col-md-3 col-sm-2 product-item">
    <div class="card" style="">
        <img class="card-img-top" style="width: 100%; height: auto;" src="{{item.cover_image.url}}"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{ item.note|truncatewords:12 }}</p>
            <a href="{% url 'detail_material' pk=item.id %}" class="btn btn-success">Chi tiết</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}

