{% if data %}
{% for item in data %}
<div class="col col-md-3 col-sm-2 product-item">
    <div class="card" style="">
        <img class="card-img-top" style="" src="{{item.image.url}}"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">{{ item.des|safe|truncatewords:12 }}</p>
            <a href="{% url 'detail_packaging_level1' pk=item.id %}" class="btn btn-success">Chi tiết</a>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}
