{% if data %}
{% for item in data %}
 
<tr class="product-item">
    <td style="width: 0.2em;">{{ forloop.counter|add:offset }}</td>
    <td><img src="{{ item.cover_image.url }}" style="width: 60px;" /></td>
    <td class="">{{ item.name }}</td>
    <td class="text-success"><b>{{ item.price }}</b> <sup>đ</sup></td>
    <td class=""><span
        class="btn btn-success btn-xs item-btn-detail" onclick="show_detail('{{ item.slug }}')"
     data-toggle="modal" data-target="#show-data">Chi tiết</span></td>
</tr>
{% endfor %}
{% endif %}