{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="vi">

<head>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- <link href="{% static '/quote/css/meteor.min.css' %}" rel="stylesheet" type="text/css" /> -->
  <style>
    .btn {
      font-size: 13px !important;
      font-weight: 400 !important;
      letter-spacing: .01em !important;
    }

    .btn-success {
      color: #fff;
      background-color: #30B19B !important;
      border-color: transparent;
    }

    .btn-danger {
      color: #fff;
      background-color: #DE4D4D !important;
      border-color: transparent;
    }

    h1 {
      font-size: 30px;
      font-weight: 400;
    }

    p {
      display: block;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: normal;
      line-height: 22px;
      margin: 0 0 10px;
      font-style: normal;
      white-space: normal;
    }
  </style>
</head>

<body style="background: #fff;letter-spacing: .01em; font-size: 13px; color: #5f5f5f;">
  <div class="container"
    style=" text-align: right; margin-bottom: 2em; padding-top: 1em; padding-bottom: 1em;border-bottom: 1px solid #ccc;">
    <div class="row">
      <span class="btn btn-success" onclick="ep_pdf()">Tải về pdf</span> <span></span> <span style="margin-left: 1em;"
        class="btn btn-danger">Tải về Xcel</span>
    </div>
  </div>


  <div class="container" id="pdf" style="">

    <div class="row">
      <div class="col-md-3 text-center">
        <img src="https://thaihuong.com.vn/files/assets/logo_th.png" alt="Girl in a jacket"
          width="169" height="49">
        <p style="margin-top: 15px;"><strong>
            Công ty TNHH Đầu Tư và Thương Mại Thái Hương
          </strong>
        </p>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-5 text-center">

        <p>
          KCN Phú Nghĩa, Huyện Chương Mỹ, Hà Nội, Việt Nam
        </p>
        <span>
          Tel: 02432.989.989
        </span>
        <p>
          Web: https://thaihuong.com.vn Email: hotro.thaihuong@gmail.com
        </p>
      </div>


    </div>



    <div class="header" style="text-align: center;">
      <h1 style="margin-top: 2em;">
        Báo Giá Gia Công Sản Phẩm
      </h1>
      <p class="text-center">{{ product.name }} ({{ volume.name }})</p>
    </div>

    <table class="table">


      <tr>
        <th></th>
        <th>#</th>
        <th>Tên</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
      </tr>
      <tr>
        <td></td>
        <th>Sản phẩm</th>
        <td>{{ product.name }}</td>
        <td>{{ quantity }}</td>
        <td>{{ product.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{ price_product|floatformat:0|intcomma }} <sup>đ</sup></td>
      </tr>
      <tr>
        <td></td>
        <th>Nguyên liệu</th>
        <td>{{ material.name }}</td>
        <td>{{quantity}}</td>
        <td>{{material.price|floatformat:0|intcomma}} <sup>đ</sup></td>
        <td>{{tt_material|floatformat:0|intcomma}} <sup>đ</sup></td>
      </tr>
      {% if packaging_level1 %}
      <tr>
        <td></td>
        <th>Bao bì cấp 1</th>
        <td>{{ packaging_level1.name }}</td>
        <td>{{quantity}}</td>
        <td>{{ packaging_level1.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{tt_packaging_level_1|floatformat:0|intcomma}} <sup>đ</sup></td>
      </tr>
      {% endif %}
      {% if packaging_level2 %}
      <tr>
        <td></td>
        <th>Bao bì cấp 2</th>
        <td>{{ packaging_level2.name }}</td>
        <td>{{quantity}}</td>
        <td>{{ packaging_level2.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{tt_packaging_level_2|floatformat:0|intcomma}} <sup>đ</sup></td>
      </tr>
      {% endif %}
      {% if stamp %}
      <tr>
        <td></td>
        <th>Tem nhãn</th>
        <td>{{ stamp.name }}</td>
        <td>{{quantity}}</td>
        <td>{{ stamp.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{tt_stamp|floatformat:0|intcomma}} <sup>đ</sup></td>
      </tr>
      {% endif %}
      {% if packing_worker %}
      <tr>
        <td></td>
        <th>Chi phí nhân công</th>
        <td>{{ packing_worker.name }}</td>
        <td>{{quantity}}</td>
        <td>{{ packing_worker.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{tt_packing_worker|floatformat:0|intcomma}} <sup>đ</sup></td>
      </tr>
      {% endif %}
      {% if announced %}
      <tr>
        <td></td>
        <th>Chi phí giấy công bố, kiểm nghiệm</th>
        <td>{{ announced.name }}</td>
        <td>1</td>
        <td>{{ announced.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{ announced.price|floatformat:0|intcomma }} <sup>đ</sup></td>
      </tr>
      {% endif %}

      {% if feeship %}
      <tr>
        <td></td>
        <th>Chi phí vận chuyển</th>
        <td>{{ feeship.name }}</td>
        <td>1</td>
        <td>{{ feeship.price|floatformat:0|intcomma }} <sup>đ</sup></td>
        <td>{{ feeship.price|floatformat:0|intcomma }} <sup>đ</sup></td>
      </tr>
      {% endif %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><strong>Tổng</strong></td>
        <td>{{ total|floatformat:0|intcomma }} <sup>đ</sup></td>
      </tr>
    </table>
    <div class="row" style="border-top:1px solid;text-align: center;">
      <p><i>thaihuonggroup.com.vn</i> | <i> {{ time }}</i></p>
    </div>
  </div>
  <script src="{% static '/quote/plugins/jquery/jquery-3.1.0.min.js' %}"></script>
  <script src="{% static '/quote/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
    integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

<script>
  function ep_pdf() {
    let el = document.getElementById("pdf")
    let f_name = `bao-gia-${new Date().toLocaleDateString()}.pdf`
    var opt = {
      margin: 1,
      filename: f_name,
      image: { type: 'jpeg', quality: 0.98 },
      pagebreak: { mode: 'avoid-all' },
      html2canvas: { scale: 2, useCROS: true },
      jsPDF: { unit: 'cm', format: 'a4', orientation: 'portrait' }
    };


    // New Promise-based usage:
    html2pdf().set(opt).from(el).save();
    // console.log(res.data);
  }
</script>

</html>