{% extends "quote/layout/base.html" %}
{% load static %}

{% block title %}
Trang chủ |Thaihuonggroup
{% endblock title %}



{% block breadcrumb %}
<style>
    .row.row_product {
        /* max-width: 1020px !important; */
        margin: 0.5em;
    }

    .col {
        margin-bottom: 2em;

    }
</style>
<div class="page-breadcrumb">
    <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">Sản phẩm</li>
    </ol>
</div>
{% endblock breadcrumb %}

{% block content %}

<div class="col-md-12">
    <div class="panel panel-white">

        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="http://127.0.0.1:8000/media/media/upload/bannerhome/2021/12/thai_huong_noel_2.jpg"
                        class="d-block w-100" alt="...">
                </div>

            </div>
        </div>
        <!-- End banner -->
        <div class="row row-custom">
            <div class="alert alert-success" role="alert">
                Sản phẩm đang HOT
            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>

</div>

{% endblock content %}
{% block script %}

{% endblock script %}